<app-header-veterinario></app-header-veterinario>
<div class="container">
  <section id="DatosMascota">
    <div class="mascota-info">
      <div class="mascota-info-image">
        <img [src]="tratamiento.mascota?.urlFotoMascota" alt="foto" />
      </div>
      <div class="mascota-info-details">
        <h2>Tratamiento de {{ tratamiento.mascota?.nombreMascota }}</h2>
        <p class="fechaAdministracion">
          <strong>Fecha de Registro:</strong>
          {{ tratamiento.mascota?.fechaCreacion | date : "dd/MM/yyyy" }}
        </p>
        <p>
          <strong>Nombre:</strong> {{ tratamiento.mascota?.nombreMascota }}
        </p>
        <p>
          <strong>Raza:</strong> {{ tratamiento.mascota?.raza?.razaMascota }}
        </p>
        <p>
          <strong>Edad:</strong> {{ tratamiento.mascota?.edadMascota }} años
        </p>
        <p class="estado">
          <strong>Estado:</strong>
          {{
            tratamiento.mascota?.estado ? "En tratamiento" : "Sin tratamiento"
          }}
        </p>
        <p>
          <strong>Enfermedad:</strong>
          {{ tratamiento.mascota?.enfermedad?.nombreEnfermedad }}
        </p>
      </div>
    </div>
  </section>
  <section id="tratamiento">
    <!-- Barra de botones -->
    <div class="botones">
      <button
        (click)="mostrarTratamiento()"
        [class.active]="mostrarTratamientoFlag"
      >
        Tratamiento
      </button>
      <button
        (click)="mostrarResumen()"
        [class.active]="!mostrarTratamientoFlag"
      >
        Resumen
      </button>
    </div>

    <div class="contenido-dinamico">
      <ng-container *ngIf="mostrarTratamientoFlag; else resumenTemplate">
        <h3 class="Detalles text-center">Detalles del Tratamiento</h3>
        <p class="fechaAdministracion">
          <span>Fecha de inicio de Tratamiento: </span>
          {{ tratamiento.fechaAdministracion | date : "EEEE, d 'de' MMMM" }}
        </p>
        <br />
        <span>Motivo de tratamiento</span>
        <textarea
          class="form-control mb-3"
          [(ngModel)]="tratamiento.descripcionTratamiento"
        ></textarea>

        <span>Medicamentos</span>
        <i
          class="fas fa-plus"
          style="margin-left: 8px; cursor: pointer; font-size: 20px"
          (click)=" navigateToAgregarMedicamento()"
        ></i>
        <div *ngIf="selectedMedicamentos.length === 0">
          <p>No hay medicamentos seleccionados.</p>
        </div>
        <ul *ngIf="selectedMedicamentos.length > 0">
          <li *ngFor="let medicamento of selectedMedicamentos">
            {{ medicamento.nombreDroga }}
          </li>
        </ul>
        <span>Recomendaciones generales</span>
        <textarea
          class="form-control"
          [(ngModel)]="tratamiento.recomendacionesGenerales"
        ></textarea>
      </ng-container>

      <ng-template #resumenTemplate>
        <h3>Resumen del Tratamiento</h3>
        <p>{{ tratamiento.fechaAdministracion }}</p>
        <!--Mostrar el precio total por todos los medicamentos-->
        <!-- Tabla de medicamentos -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre del Medicamento</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medicamento of selectedMedicamentos">
              <td>{{ medicamento.nombreDroga }}</td>
              <td>{{ medicamento.precioVenta | currency }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Mostrar el precio total de los medicamentos -->
        <div class="total">
          <strong>Total: </strong> {{ calcularTotal() | currency }}
        </div>

        <!-- Botón de finalizar tratamiento -->
        <div class="finalizar-tratamiento mt-3">
          <button class="btn btn-success" (click)="finalizarTratamiento()">
            Finalizar Tratamiento
          </button>
        </div>
      </ng-template>
    </div>

    <div class="button-container">
      <button class="btn btn-primary">Guardar</button>
      <button (click)="regresar()" class="btn btn-secondary">Cancelar</button>
    </div>
  </section>
</div>
<app-footer></app-footer>
