<section id="servicios">
    <h2>Veterinaria 24 horas Bogotá</h2>
    <div>
      <div class="row rowContainer">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServProcedimientos.png"
              alt="Servicio procedimientos"
              class="servicioImg"
            />
            <div class="card-body">
              <h2 class="card-title">Procedimientos</h2>
              <p class="card-text">Básicos y de primeros auxilios</p>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServVacunacion.png"
              alt="Servicio vacunación"
              class="servicioImg"
            />
            <div class="card-body">
              <h2 class="card-title">Vacunación</h2>
              <p class="card-text">Trae su carnet de vacunación</p>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServProfilaxiso.png"
              alt="Profilaxis para perros"
              class="servicioImg"
            />
            <div class="card-body">
              <h2 class="card-title">Profilaxis</h2>
              <p class="card-text">Salud oral para tu mascota</p>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServConsulta.png"
              alt="Consulta veterinaria"
              class="servicioImg"
            />
            <div class="card-body">
              <h2 class="card-title">Consulta veterinaria</h2>
              <p class="card-text">
                Chequeo general, diagnostico y pruebas
              </p>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServImagenologia.png"
              alt=""
              class="servicioImg"
            />
            <div class="card-body">
              <h2 class="card-title">Ayudas diagnosticas</h2>
              <p class="card-text">Ecografías y radiografías</p>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <article class="card servicio">
            <img
              src="assets/images/landing/iconoServNebulizaciones.png"
              alt=""
              class="servicioImg"
            />
            <div class="servInfo">
              <h2 class="card-title">Nebulizaciones</h2>
              <p class="card-text">Terapias respiratorias</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
