<header>
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a href="/">
        <img
          src="assets/images/logo.png"
          alt="logo D'pelos"
          id="logo"
          class="img-fluid"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#inicio" class="nav-link li_header">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#servicios" class="nav-link li_header">Servicios</a>
          </li>
          <li class="nav-item">
            <a href="#agendarCita" class="nav-link li_header">Contacto</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link li_header btnIngresa" (click)="login()">Ingresa</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
