<app-header-veterinario></app-header-veterinario>
<main id="inicio">

  <div *ngIf="isLoading" class="spinner-container d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

  <section *ngIf="!isLoading" id="mascota" class="text-center">
    <div class="input-group justify-content-center">
      <div class="form-outline" data-mdb-input-init>
        <input
          id="search-input"
          type="search"
          class="form-control"
          [(ngModel)]="searchTerm" 
          (keydown.enter)="searchDueno()"
          placeholder="Busca un dueño D'Pelos (Cédula, nombre o apellido)"
        />
      </div>
      <button id="search-button" type="button" class="btn btn-primary" (click)="searchDueno()">
        <i class="fas fa-search"></i>
      </button>
      <a type="button" class="btn btn-añadir" [routerLink]="['/dueno/add']"
        >Añadir Dueño</a
      >
      <a id="btn-secundary" type="button" class="btn" [routerLink]="['/empleado']"
        >Regresar</a
      >
    </div>
  </section>

  <section *ngIf="!isLoading" id="listadoDuenos">
    <table class="table">
      <thead class="tableHead">
        <tr>
          <th>Foto</th>
          <th>Cedula Dueño</th>
          <th>Nombre completo</th>
          <th>Correo Electrónico</th>
          <th>Celular</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let dueno of filteredDuenosList">
          <td>
            <a th:href="@{/}">
              <img
                src="{{ dueno.fotoUrl }}"
                alt="Foto del dueño"
                class="img-dueno"
              />
            </a>
          </td>
          <td>{{ dueno.cedulaDueno }}</td>
          <td>{{ dueno.nombreDueno }} {{ dueno.apellidoDueno }}</td>
          <td>{{ dueno.correoDueno }}</td>
          <td>{{ dueno.celularDueno }}</td>
          <td>
            <a
              href="#"
              [routerLink]="['/dueno/update', dueno.idDueno]"
              aria-label="Editar"
              class="icono-edita"
            > 
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a
              aria-label="Eliminar"
              class="icono-elimina"
              (click)="eliminarDueno(dueno)"
            >
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
<app-footer></app-footer>
