<header>
    <nav
        class="navbar navbar-expand-lg"
        style="padding-top: 0; padding-bottom: 0"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img
                    src="/assets/images/logo.png"
                    alt="logo D'pelos"
                    id="logo"
                    class="img-fluid"
                />
            </a>
            <div class="ms-auto d-flex align-items-center">
                <a type="button" (click)="cerrarSesion()" class="d-block">
                    <i class="fas fa-door-open" id="logoutIcon"></i>
                </a>
            </div>
        </div>
    </nav>
</header>