<app-header-veterinario></app-header-veterinario>
<main id="inicio">
  <!--Spinner de carga-->
  <div
    *ngIf="isLoading"
    class="spinner-container d-flex justify-content-center align-items-center"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

  <!--Sección de busqueda-->
  <section *ngIf="!isLoading" id="buscarMascotas">
    <div class="input-group justify-content-center">
      <div class="form-outline" data-mdb-input-init>
        <input
          id="search-input"
          type="search"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keydown.enter)="onSearchInput()" 
          placeholder="Busca un medicamento D'Pelos"
        />
      </div>
      <button
        id="search-button"
        type="button"
        class="btn btn-primary"
        (click)="onSearchInput()"
      >
        <i class="fas fa-search"></i>
      </button>
      <a type="button" class="btn btn-añadir" [routerLink]="['/droga/add']"
        >Añadir Medicamento</a
      >
      <a
        type="button"
        class="btn btn-cargarExcel"
        [routerLink]="['/droga-excel']"
        >Cargar Excel</a
      >
      <a type="button" class="btn btn-secundary" [routerLink]="['/empleado']"
        >Regresar</a
      >
    </div>
  </section>

  <!--Contador de paginación-->
<div class="container-paginacion mb-3" *ngIf="!isLoading">
  <p>
    {{ drogas.length === 0 ? '0' : ((currentPage - 1) * pageSize) + 1 }} - 
    {{ (currentPage * pageSize) > totalMedicamentos ? totalMedicamentos : (currentPage * pageSize) }} de {{ totalMedicamentos }} medicamentos
  </p>
</div>

  <!--Tarjetas de medicamentos-->
<div *ngIf="!isLoading" id="card-container" class="container">
  <div class="d-flex justify-content-center flex-wrap">
    <div class="col-md-4" *ngFor="let droga of drogas">
      <a [routerLink]="['/detalle-medicamento', droga.idDroga]" style="text-decoration: none; color: inherit;">
        <div class="card mb-4">
          <img
            src="{{ droga.urlFotoDroga }}"
            class="img-mascotas"
            alt="Foto de la droga"
          />
          <p class="titulo">
            <span>{{ droga.nombreDroga }} </span>
          </p>
          <p class="precio">
            <span> ${{ droga.precioVenta | number : '1.0-0' }} </span>
          </p>
          <div
            class="d-flex flex-wrap align-items-center ml-auto"
            style="gap: 20px"
          >
            <a
              [routerLink]="['/droga/update', droga.idDroga]"
              class="icon-editar mt-3"
              id="icon-editar"
              aria-label="Editar"
              (click)="$event.stopPropagation()"
            >
              <i class="fas fa-edit fa-2x"></i>
            </a>
            <a
              class="icon-eliminar mt-3"
              id="icon-eliminar"
              aria-label="Eliminar"
              (click)="deleteDroga(droga); $event.stopPropagation()"
              onclick="return confirm('¿Estás seguro de que quieres eliminar esta droga?');"
            >
              <i class="fas fa-trash fa-2x"></i>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

   <!-- Botones de paginación -->
<div class="d-flex justify-content-center align-items-center mb-3" *ngIf="totalPages > 0 && totalMedicamentos > 0">
  <button class="btn btn-primary mx-2" (click)="previousPage()" [disabled]="currentPage === 1">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button
    class="btn btn-primary mx-2"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
</div>

  <!--Alerta de no resultados-->
  <div *ngIf="noResults" class="alert alert-warning text-center mt-3 mb-4">
    <i class="fas fa-dog"></i> No se encontraron coincidencias para tu búsqueda
    <i class="fas fa-dog"></i>
  </div>
</main>
<app-footer></app-footer>
