<header>
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a type="button" (click)="homeEmpreado()">
        <img
          src="/assets/images/logo.png"
          alt="logo D'pelos"
          id="logo"
          class="img-fluid"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link li_header" [routerLink]="['/empleado']"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link li_header" [routerLink]="['/tratamientos']"
            >Tratamientos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link li_header" [routerLink]="['/droga']"
            >Medicamentos</a>
          </li>
        
          <li class="nav-item">
            <a [routerLink]="['/registros']" class="nav-link li_header"
              >Registros</a
            >
          </li>
          <li class="nav-item d-flex align-items-center">
            <fa-icon [icon]="logoutIcon" class="fa-lg me-3" style="cursor: pointer;" (click)="cerrarSesion()"></fa-icon>
          </li>
          <li class="nav-item d-flex align-items-center">
            <fa-icon [icon]="passIcon" class="fa-lg me-3" style="cursor: pointer;" (click)="cambiarClave()"></fa-icon>
          </li>
          <li class="nav-item">
            <a type="button">
              <img
                src="{{ veterinario?.fotoUrl }}"
                alt="User Icon"
                id="userIcon"
                class="img-perfil rounded-circle me-3"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <!-- Modal -->
<div #changePasswordModal class="modal fade" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Cambiar Clave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #passwordForm="ngForm">
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Clave Actual</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required ngModel>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva Clave</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required ngModel>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Nueva Clave</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required ngModel>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarNuevaClave()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


</header>
