<section id="bannerPrincipal">
  <div class="row d-flex flex-column-reverse flex-md-row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 d-flex">
      <img
        src="assets/images/landing/perroDorado.png"
        alt=""
        id="bannerDog"
        class="img-fluid"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 d-flex">
      <div class="bannerInfo">
        <span class="txtBanner"
          >¡Cuidamos tu mejor amigo con el amor y la dedicación que se
          merece!</span
        >
        <a href="#agendarCita">
          <button id="btnBanner">Agendar cita</button>
        </a>
      </div>
    </div>
  </div>

  <!-- imagenes de fondo -->
  <img src="assets/images/landing/curaBannerT1.png" class="cura1" />
  <img src="assets/images/landing/curaBannerT2.png" class="cura2" />
  <img src="assets/images/landing/curaBannerT1.png" class="cura3" />
  <img src="assets/images/landing/curaBannerT3.png" class="cura4" />
  <img src="assets/images/landing/curaBannerT1.png" class="cura5" />
  <img src="assets/images/landing/curaBannerT2.png" class="cura6" />
  <img src="assets/images/landing/curaBannerT1.png" class="cura7" />
</section>
