<app-header></app-header>
<main>
    <!-- Formulario de selección de tipo de registro -->
    <div id="seleccionarTipo" class="mb-4">
        <p>
            ¡Registra nuevos tipos de razas y enfermedades para acceder
            a ellas con tan solo un clik!
        </p>
        <form th:action="@{/registros/seleccionarTipo}" method="post">
            <div
                class="d-flex align-items-center justify-content-center mt-2"
            >
                <select
                    id="tipoRegistro"
                    name="tipoRegistro"
                    class="form-control mr-2" 
                    [(ngModel)]="tipoSeleccionado"
                    (change)="actualizarVista()"
                    required
                >
                    <option value="" disabled selected>
                        Seleccionar tipo de registro
                    </option>
                    <option
                        value="raza"
                    >
                        Raza
                    </option>
                    <option
                        value="enfermedad"
                    >
                        Enfermedad
                    </option>
                </select>
                <button type="submit" id="btnActualizar" class="btn btn-primary" >
                    Cancelar
                </button>
            </div>
        </form>
    </div>

    <!-- Mostrar formulario para raza -->
    <app-crear-raza *ngIf="vistaActual === 'raza'"></app-crear-raza>
    <!-- Mostrar formulario para enfermedad -->
    <app-crear-enfermedad *ngIf="vistaActual === 'enfermedad'"></app-crear-enfermedad>
</main>
<app-footer></app-footer>