<app-header-admin></app-header-admin>
<section id="main" class="justify-content-center display-flex align-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-media" style="width: fit-content; height: fit-content">
          <p style="margin-bottom: 10px; font-weight: bold; text-align: center">
            Tratamientos por Tipo de Droga
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>ID Droga</th>
                <th>Nombre Droga</th>
                <th>Tratamientos Atendidos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tratamiento of tratamientosTipoDroga">
                <td>{{ tratamiento.idDroga }}</td>
                <td>{{ tratamiento.nombreDroga }}</td>
                <td>{{ tratamiento.tratamientoCount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <div
              class="card-wrapper"
              style="
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;
              "
            >
              <div
                class="card-media"
                style="
                  flex: 1;
                  color: rgb(0, 166, 255);
                  text-align: center;
                  min-width: 150px;
                "
              >
                <i class="fas fa-user-md" style="font-size: 24px"></i>
                <p><b>Total Veterinarios:</b> {{ totalVets }}.</p>
              </div>
              <div
                class="card-media"
                style="
                  flex: 1;
                  color: rgb(46, 220, 144);
                  text-align: center;
                  min-width: 150px;
                "
              >
                <i class="fas fa-pills" style="font-size: 24px"></i>
                <p><b>Total Medicamentos:</b> {{ totalDrogas }}.</p>
              </div>
              <div
                class="card-media"
                style="
                  flex: 1;
                  color: rgb(0, 166, 255);
                  text-align: center;
                  min-width: 150px;
                "
              >
                <i class="fas fa-briefcase-medical" style="font-size: 24px"></i>
                <p id="totalTratamientos">
                  <b>Tratamientos en el último mes:</b>
                  {{ totalTratamientos }}.
                </p>
              </div>
              <div
                class="card-media"
                style="
                  flex: 1;
                  color: rgb(46, 220, 144);
                  text-align: center;
                  min-width: 150px;
                "
              >
                <i class="fas fa-paw" style="font-size: 24px"></i>
                <p>
                  <b>Mascotas en Tratamiento (Activas):</b>
                  {{ totalMascotasActivas }}.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div
            class="card-media"
            style="
              flex: 1;
              color: #ff8f34;
              text-align: center;
              min-width: 150px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <i
              class="fas fa-dollar-sign"
              style="font-size: 28px; margin-right: 10px"
            ></i>
            <p style="margin: 0">
              <b>Total de Ventas de la Veterinaria:</b> ${{
                totalVentas | number : "1.0-0"
              }}.
            </p>
          </div>

          <div
            class="card-media"
            style="
              flex: 1;
              color: #ff8f34;
              text-align: center;
              min-width: 150px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <i
              class="fas fa-chart-line"
              style="font-size: 28px; margin-right: 10px"
            ></i>
            <p style="margin: 0" id="totalGanancias">
              <b>Total de Ganancias de la Veterinaria:</b>
              ${{ totalGancias }}.
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-media">
            <p><b>Veterinarios Activos vs Inactivos</b></p>
            <canvas id="veterinariosChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="col-md-6">
    <div class="card-media">
      <p><b>Top 3 Tratamientos con las Drogas Más Vendidas</b></p>
      <ul class="tratamientos-list">
        <li *ngFor="let tratamiento of tratamientosMasVendidos">
          {{ tratamiento }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Botón regresar -->
<section id="info-servicios">
  <a class="btn btn-primary ml-6" [routerLink]="['/admin']">Regresar</a>
</section>
<app-footer></app-footer>
