<section id="bannerMolestias">
  <div class="row d-flex flex-column-reverse flex-md-row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex">
      <div class="circle"></div>
      <img
        src="assets/images/landing/labradorAcostadoNoBk.png"
        id="perroBanner2"
        class="img-fluid"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex">
      <div class="bannerInfo2">
        <h2>¿Molestias con tu mascota?</h2>
        <span class="txtBanner2">
          ¡Contáctanos ahora! Su bienestar es nuestra prioridad
        </span>

        <button id="btnBanner2">Charla con nosotros</button>
      </div>
    </div>
  </div>
</section>
