<app-header></app-header>
<main>
    <div class="container-titulo">
        <p>Registrar mascota</p>
    </div>
    <form
        th:object="${mascota}"
        th:action="@{/mascota/agregar}"
        method="post"
        id="formDueno"
    >
        <p>Dale la bienvenida a una mascota D'Pelos</p>
        <div class="form-row duenoField">
            <!-- cedula del dueño -->
            <div class="col-md-6">
                <input
                    name="cedulaDueno"
                    type="number"
                    class="form-control"
                    id="cedulaDueno"
                    placeholder="Cédula del dueño"
                    required
                    onblur="verificarDueno()"
                />
            </div>

            <!-- Campo oculto para mostrar el nombre del dueño -->
            <div
                class="col-md-6"
                id="nombreDuenoContainer"
                style="display: none"
            >
                <input
                    type="text"
                    class="form-control"
                    id="nombreDueno"
                    placeholder="Nombre del Dueño"
                    readonly
                />
            </div>

            <!-- Botón oculto para agregar dueño -->
            <div
                class="col-md-6"
                id="agregarDuenoContainer"
                style="display: none"
            >
                <a
                    type="button"
                    class="btn btn-primary"
                    id="btnAgregarDueno"
                    th:href="@{/dueno/add}"
                >
                    Agregar Dueño
                </a>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input
                    th:field="*{nombreMascota}"
                    type="text"
                    class="form-control"
                    id="nombreMascota"
                    placeholder="Nombre"
                    required
                />
            </div>
            <div class="form-group col-md-6">
                <input
                    th:field="*{edadMascota}"
                    type="number"
                    class="form-control"
                    id="edadMascota"
                    placeholder="Edad"
                    required
                />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input
                    th:field="*{urlFotoMascota}"
                    type="text"
                    class="form-control"
                    id="urlFotoMascota"
                    placeholder="Url foto"
                    required
                />
            </div>

            <!-- Menú Desplegable de Razas -->
            <div class="form-group col-md-6">
                <select
                    th:field="*{raza}"
                    class="form-control"
                    id="raza"
                    required
                >
                    <option value="" disabled selected>
                        Selecciona una raza
                    </option>
                    <option
                        th:each="raza : ${razas}"
                        th:value="${raza.idRazaMascota}"
                        th:text="${raza.razaMascota}"
                    ></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <!-- Menú Desplegable de Enfermedades -->
            <div class="form-group col-md-6">
                <select
                    th:field="*{enfermedad}"
                    class="form-control"
                    id="enfermedad"
                    required
                >
                    <option value="" disabled selected>
                        Selecciona una enfermedad
                    </option>
                    <option
                        th:each="enfermedad : ${enfermedades}"
                        th:value="${enfermedad.idEnfermedad}"
                        th:text="${enfermedad.nombreEnfermedad}"
                    ></option>
                </select>
            </div>
        </div>

        <div class="botones">
            <button
                type="submit"
                class="btn btn-primary mr-4"
                id="registrarMascotaBtn"
                disabled
            >
                Registrar Mascota
            </button>
            <a
                type="button"
                class="btn btn-secundary"
                th:href="@{/mascota}"
                >Regresar</a
            >
        </div>
    </form>
</main>
<app-footer></app-footer>