<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <img
          src="assets/images/logo.png"
          alt=""
          id="logoFooter"
          class="img-fluid"
          style="background-color: rgb(12, 12, 12);"
        />
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="footerData">
          <h4>Contacto</h4>
          <p><strong>Dirección</strong>: Calle 23 #5-70, Bogotá, Colombia</p>
          <p><strong>Teléfono</strong>: +57 317 243 3936</p>
          <p><strong>Email</strong>: info&#64;dpelos.com</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="footerData">
          <h4>Horarios de Atención</h4>
          <p><strong>Lunes a Viernes</strong>: 8:00 AM - 6:00 PM</p>
          <p><strong>Sábado</strong>: 9:00 AM - 4:00 PM</p>
          <p><strong>Domingo</strong>: Cerrado</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="footerData">
          <h4>Enlaces Útiles</h4>
          <a href="#inicio">Inicio</a><br />
          <a href="#servicios">Servicios</a><br />
          <a href="/contacto">Contacto</a>

          <h4 class="h4Legal">Legal</h4>
          <a href="/terminos-y-condiciones">Términos y Condiciones</a><br />
          <a href="/politica-de-privacidad">Política de Privacidad</a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 text-center">
        <div class="footerData">
          <h4>Síguenos</h4>
          <a href="https://www.facebook.com/dpelos" target="_blank">
            <img src="assets/images/redes/facebook.png" alt="Facebook" />
          </a>
          <a href="https://www.instagram.com/dpelos" target="_blank">
            <img src="assets/images/redes/instagram.png" alt="Instagram" />
          </a>
          <a href="https://www.x.com/dpelos" target="_blank">
            <img src="assets/images/redes/twitter.png" alt="Twitter" />
          </a>
          <a href="https://www.tiktok.com/dpelos" target="_blank">
            <img src="assets/images/redes/tik-tok.png" alt="Tik Tok" />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-credits text-center mt-3">
      <p>&copy; 2024 D'Pelos. Todos los derechos reservados.</p>
      <p>Sitio web creado por el mejor grupo de la clase :).</p>
    </div>
  </div>
</footer>
